@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,500;0,600;0,700;1,300;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
body {
  background: #88abff;
}
.wrapper {
  margin: 50px;
  display: grid;
  gap: 15px;
  grid-template-columns: repeat(auto-fill, 265px);
}
.wrapper .note {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.wrapper li {
  height: 250px;
  background: #fff;
  border-radius: 5px;
  padding: 15px 20px 20px 20px;
}
.add-box,
.icon,
.bottom-content,
.menu li,.popup,
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.add-box {
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
}
.add-box .icon {
  height: 78px;
  width: 78px;
  border-radius: 50%;
  font-size: 40px;
  border: 2px dashed #88abff;
  color: #88abff;
  justify-content: center;
}
.add-box p {
  color: #88abff;
  font-weight: 500;
  margin-top: 20px;
}
.note p {
  font-size: 22px;
  font-weight: 500;
}
.note span {
  display: block;
  margin-top: 5px;
  color: #575757;
  font-size: 16px;
}
.note .bottom-content {
  padding-top: 10px;
  border-top: 1px solid #ccc;
}
.bottom-content span {
  color: #6d6d6d;
  font-size: 14px;
}
.bottom-content .settings i {
  color: #6d6d6d;
  font-size: 14px;
  cursor: pointer;
}
.settings {
  position: relative;
}
.settings .menu {
  position: absolute;
  bottom: 0;
  right: -5px;
  padding: 5px;
  background: #fff;
  border-radius: 4px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.15);
  transform: scale(0);
  visibility: hidden;
  opacity: 0;
  transform-origin: bottom right;
  transition: transform 0.3s ease;
}
.settings:hover .menu {
  transform: scale(1);
  visibility: visible;
  opacity: 1;
}
.settings .menu li {
  justify-content: flex-start;
  height: 25px;
  border-radius: 0;
  cursor: pointer;
  font-size: 16px;
  padding: 17px 15px;
}
.menu li:hover {
  background: #f5f5f5;
}
.settings .menu li i {
  margin-right: 8px;
}

.popup-box {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
}
.popup-box .popup {
  position: absolute;
  z-index: 3;
  max-width: 400px;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  justify-content: center;
}
.popup-box,.popup-box .popup{
    opacity: 0;
    pointer-events: none;
    transition: all 0.25s ease;
}
.popup-box.show,.popup-box.show .popup{
    opacity: 1;
    pointer-events: auto;
}

.popup .content {
  width: calc(100% - 15px);
  background: #fff;
  border-radius: 5px;
}
.popup .content header {
  padding: 15px 25px;
  border-bottom: 1px solid #ccc;
}
.content header p {
  font-size: 20px;
  font-weight: 500;
}
.content header i {
  color: #8b8989;
  cursor: pointer;
  font-size: 23px;
}
.content form {
  margin: 15px 25px 35px;
}
.content form label {
  display: block;
  font-size: 18px;
  margin-bottom: 6px;
}
.content form :where(input, textarea) {
  width: 100%;
  height: 50px;
  font-size: 17px;
  padding: 0 15px;
  border: 1px solid #999;
  border-radius: 4px;
  outline: none;
}
.content form .row {
  margin-bottom: 20px;
}
.content form textarea {
  height: 150px;
  resize: none;
  padding:8px 15px ;
}
.content form button {
  width: 100%;
  height: 50px;
  background: #6a93f8;
  outline: none;
  border: none;
  color: #fff;
  font-size: 17px;
  border-radius: 4px;
}
